communication.md @fduch2k
content/1-2-1.MD @roberqwerty
rules/* @IT-manager-playbook/comittee
assets/* @IT-manager-playbook/comittee
LICENSE @IT-manager-playbook/comittee
README.MD @IT-manager-playbook/comittee
